.footer{
    background-color: #333; /* Cor de fundo para a Navbar */
    color: aliceblue;
    padding: 10px; /* Adiciona algum preenchimento opcional */
    text-align: center; /* Centraliza o texto no rodapé */
    margin-top: auto; /* Empurra o Footer para o final da página */
}