/* Estilo para a área principal da página */
.content-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5rem auto; /* Centraliza horizontalmente */
    margin-top: 0; /* Remove o margin-top redundante */
    max-width: 80%; /* O conteúdo ocupará no máximo 80% da largura */
    gap: 1rem; /* Espaçamento entre os itens */
}

/* Estilo para os títulos dos anúncios */
.title-announcement {
    width: 100%;
    border-bottom: 3px solid #333;
    margin-top: 1rem;
    text-align: center;
    font-size: 1.5rem; /* Ajuste o tamanho da fonte conforme necessário */
}

/* Estilo para a área de ofertas */
.offers {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Ajusta a quantidade de colunas */
    align-items: center;
    justify-content: space-around;
    margin-top: 0.5rem;
    width: 100%;
    margin-bottom: 0.5rem;
}

/* Estilo responsivo para telas pequenas */
@media (max-width: 750px) {
    .title-announcement {
        margin-top: 1.1rem;
        font-size: 1.25rem; /* Ajuste o tamanho da fonte conforme necessário */
    }
    
    .offers {
        display: flex;
        flex-direction: column;
        margin-top: 0.5rem;
        gap: 1rem;
    }
}
