html, body {
    margin: 0;
    padding: 0;
    height: 100%; /* Garante que o body ocupe 100% da altura da janela */
    box-sizing: border-box; /* Inclui padding e bordas nas larguras */
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Garante que a div .App ocupe pelo menos 100% da altura da tela */
}



.container {
    background-color: rgb(248, 248, 248);
    margin-top: 15rem;
    flex: 1; /* Faz com que a div .container ocupe o espaço restante entre Navbar e Footer */
    padding: 20px; /* Adiciona algum preenchimento opcional */
    margin-top: 60px; /* Compensa a altura da Navbar fixa */
    
}


